@media (min-width:1000px) {
    nav p{
      
        left: 6vw;
    }
    nav img{
        margin-left: 1vw;
    }
    .cardContainer div{
        height: 10rem;
        width: 25vw;
        margin-bottom: 50px;
    }
    .cardContainer div p{
        font-size: 15px;
    }
    .cardContainer div h3{
        font-size: 25px;
    }
    

}