.MainTrans{
    min-height: 4rem;
    max-height: 15rem;
    min-width: 15rem;
    max-width: 30rem;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
   text-align: center;
   border-radius: 10px;
   box-shadow: 5px 5px 5px black;
  font-size: 1rem;
  overflow-y: scroll;
  scrollbar-width: none;
}
.MainTrans p{
padding: 0.5rem;
    font-size: 1rem;
}
.SimpleB{
    margin-left: 0.5rem;
    cursor: pointer;
    height:3rem;
    width: 3rem;
    border: none;
    font-size: x-large;
    color: black;
    background-color: transparent;
    box-shadow:inset 5px 0px 10px rgba(24, 24, 24, 0.153);
    border-radius: 10px;
    transition: 0.5s;
}
.SimpleB:hover{
    box-shadow: 0px 2px 20px rgba(6, 190, 227, 0.618);
    color: rgb(9, 209, 209);
    background-color: rgb(21, 21, 21);
    transform: scale(1.1);
}
.MainTrans{
    margin: 1rem;
}
.closeTrs{
    height: 2rem;
    width: 2rem;

 color: aquamarine;
 border-radius: 40%;
 margin: 0.3rem;
    border: none;
    background-color: black;
}
.sent{
    margin-left: 0.5rem;
}