.VideoMenuCont{
    width: 90%;
    margin-top: 2rem;
    height: auto;
}
.ImgVideoCont{
  height: auto;
  width: 100%;
  max-height: 30rem;
  overflow: auto;
  scrollbar-width:none ;
}
.ImgVideoCont img{
    margin-right: 1rem;
      height:8rem;
    width:13rem;
    cursor:pointer;
    margin-top: 1rem;
}