.HangedMainContainer{
    margin-top: 6rem;
 
}
.hand{
    margin-bottom: 2rem;
    width: 25rem;
}
.hangedMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.s{
    margin-left: 2rem;
}
.ghm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.GameHandMenu{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}
.GameHandMenu img{
    height: 12rem;
    width: 12rem;
  
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}
.GameHandMenu li{
    font-size: 1.1rem;
    margin-top: 0.8rem;
}
.SingleLetterToFind{
    height: 3rem;
    width: 3rem;
    margin: 0.1rem;
    background-color: rgb(7, 44, 75);
    border: solid 2px rgb(0, 195, 255);
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center
}
.Space{
    height: 3rem;
    width: 3rem;
    margin: 0.1rem;
    background-color:transparent;
    border-bottom: solid 2px rgb(0, 195, 255);
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center 
}
.Alphabet{

    max-height: 15rem;
  
    width: 25rem;
    border: solid 2px black;
    background-color: black;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.Alphabet button{
    height:2.5rem;
    width: 2.5rem;
    margin: 2px;
    box-shadow: 0px 0px 10px rgba(8, 193, 255, 0.595);
    color: rgb(0, 195, 255);
    background-color: black;
    border: solid 1px rgb(0, 195, 255);
    cursor: pointer;
    border-radius: 10%;
    font-weight: bolder;
}
.LoseMenu{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    
    font-size: 20px;
}
.LoseMenu p{
margin-bottom: 2rem;

}