.FindBImage{
    margin-top: 6rem;
}
.GameImage{
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
.GameImage img{
    height: 17rem;
    width: 17rem;
    margin-bottom: 5%;
   
}
.GameImage button:not(.ActionButtoms){
    border: solid 2px #47c9ff;
    margin: 1%;
    height: 4rem;
  min-width: 5rem;
margin: 0.5rem;
  background-color:rgb(7, 33, 56) ;
color: #47c9ff;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  box-shadow: inset 0px 0px 10px #47c8ff80;
  transition: 0.5s;
  cursor: pointer;
}
.GameImage button:hover{
    background-color: transparent;
    transform: scale(1.1);
    font-size: 18px;
}
.WoLMenu p{
color: aliceblue;
}