.MyWords{
    margin-top: 6rem;
 
}
.WordsContainer{
   height: auto;
   width: 90%; 
   margin-top: 2vw;
   margin-left: 4vw;
   flex-wrap: wrap;
   display: flex;
   align-items: center;
   justify-content: center;
}
.SingleWord h3{
  overflow: hidden;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 65%;
}
.bx1{
    margin-top: 1.5rem;
}

.SingleWord{
    overflow: hidden;
    margin: 1rem;
    height: auto;
    width: 20rem;
    border: solid 2px #47c8ffbf;
    display: flex
;
    background-color: rgb(0 30 39);
    box-shadow: inset 0px 0px 5px #47c8ffbf;
    cursor: pointer;
    transition: 0.5s;
}
.SingleWord:hover{
       background-color: rgb(0, 38, 49);

}
.buttomsSingleWord{
   
    display: flex;

}
.buttomsSingleWord button{
    height: 2rem;
    width: 2rem;
background-color: black;
color: #47c8ffbf;
border: solid 1px #47c8ffbf;
cursor: pointer;
transition: 0.5s;
}
.buttomsSingleWord button:hover{
    background-color: rgba(0, 0, 0, 0.44);
    font-size: 20px;
}
.MainWord{
    margin-top: 20vw;
    box-sizing: border-box;
    overflow: auto;
}
.ActionButtoms{
    font-size: 25px;
}
.MainWordExample{
    padding: 10%;
    margin-bottom: 10vw;
    border: solid rgb(0, 195, 255);
    background-color: rgb(5, 35, 48);
   word-wrap: break-word;
   box-sizing: border-box;
   max-height: 100%;
  
}

/* From Uiverse.io by Yaya12085 */ 

/* From Uiverse.io by Yaya12085 */ 
.label {
  height: 24px;
  width: 48px;
  background-color: #ccc; /* gris desactivado */
  border-radius: 12px;
  box-shadow: inset 0 0 2px 1.6px rgba(255, 255, 255, 0.6),
    inset 0 0 8px 0.4px rgba(0, 0, 0, 0.3),
    4px 8px 12px rgba(0, 0, 0, 0.1),
    inset 0 0 0 1.2px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: transform 0.4s, background-color 0.4s;
}

.label:hover {
  transform: perspective(40px) rotateX(5deg) rotateY(-5deg);
}

#checkbox {
  display: none;
}

.label::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #888; /* gris oscuro desactivado */
  left: 4px;
  box-shadow: 0 0.8px 0.4px rgba(0, 0, 0, 0.3),
    4px 4px 4px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

/* ACTIVADO */
#checkbox:checked ~ .label {
  background-color: black;
  box-shadow: 0 0 1.6px 1.6px rgba(0, 207, 255, 0.2),
    0 0 4px 4px rgba(0, 207, 255, 0.2);
}

#checkbox:checked ~ .label:hover {
  transform: perspective(40px) rotateX(-5deg) rotateY(5deg);
}

#checkbox:checked ~ .label::before {
  left: 28px; /* 35px * 0.8 */
  background-color: #00cfff;
  box-shadow: 0 0 8px 2.4px #00cfff;
}

