.SpUserinf{
    height: 10vh;
    width: 14rem;
    display: flex;
    position: relative;
    border: solid 2px rgb(0 195 255);
    border-radius: 30px;
    font-size: 25px;
    color: rgb(0 195 255);
    box-shadow: 0px 0px 20px rgba(0, 238, 255, 0.263);
    background-color: rgb(7 33 56 / 58%);
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.SpUserinf img{
    position: absolute;
    left: 10%;
    height: 90%;
    width: 30%;
}
.SptextUserInf{
    position: absolute;
    right: 10%;

    height: auto;
    width:  auto;
    display: flex;
    flex-direction: column;
}
.SpMenu{
   height: auto; 
   width: 100%;
   margin-top:6rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
.MyListsContainer{
    max-height: 60vh;
    width: 80%;
    display: flex
;
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(0 195 255);
    overflow-y: scroll;
    scrollbar-width: none;
    flex-wrap: wrap;
    background-color: rgb(10 24 45);
    box-shadow: 0px 0px 20px rgb(0 195 255 / 30%);
    margin-bottom: 5vw;
}
.SingleSpListMine{
    margin: 1rem;
    height:10rem;
    width: 8rem;
    border: solid 1px rgba(0, 45, 75, 0.664);
    cursor: pointer;
   display: flex;
   flex-direction: column;
   text-align: center;
   
   transition: 0.2s;
}
.SingleSpListMine:hover{
    transform: scale(1.1);
    background-color: rgb(3, 33, 74);

}
.ShowenList{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.AllSpListSongs{
height: auto;
width: 80%;
margin-top: 1rem;
}
.SignleSpListSong{
    cursor: pointer;
width: 100%;
height: 6rem;
display: flex;
color: aliceblue;
border-bottom: 2px solid rgba(245, 245, 245, 0.234);
align-items: center;
transition: 0.5s;
}
.SignleSpListSong:hover{
    background-color: rgba(4, 48, 54, 0.667);
}
.SignleSpListSong img{
height: 5rem;
width: 5rem;
border-radius: 10px;
box-shadow:  0px 0px 10px rgb(0, 0, 0);
}
.SignleSpListSong p{
    margin-left: 1rem;
    cursor: pointer;
}
.SignleSpListSong p:hover{
    color: rgba(249, 249, 249, 0.823);
}
.SpPlayButtom{
    border-radius: 50%;
    height: 40%;
    width: 10%;
    box-shadow: 0px 0px 5px  #000000a2;
    cursor: pointer;
    transition: 0.5s;
  border: none;
  }
  .SpPlayButtom:hover{
    background-color: transparent;
    box-shadow: 0px 0px 5px inset rgb(0, 195, 255);
    box-shadow: 0px 0px 5px  rgb(0, 195, 255);
  
    color: rgb(0, 195, 255);
  }
  .SpSongCardButtomExit{
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    background-color: rgb(19, 232, 232);
    font-size: large;
    border: none;
    margin-right: 1rem;
    margin-left: 1rem;
    
  }
  .SpSongCardButtomExit:hover{
    transform: scale(1.1);
  }
  .mean{
    z-index: 2;
  }