.SyAMenu{
    margin-top: 6rem;
}
.SyAGameMenu{
    margin-top: 3rem;
    height: 30rem;
    width: 26rem;
    border: solid 2px rgb(0, 195, 255);
  background-color:rgb(7, 33, 56) ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.SyAGameMenu button{
    border: solid 2px #47c9ff;
    margin: 1%;
    height: 4rem;
  width: 7rem;
 display: flex;
 text-align: center;
 align-items: center;
 justify-content: center;

  background-color:rgb(7, 33, 56) ;
color: #47c9ff;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  box-shadow: inset 0px 0px 5px #47c8ff80;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}
.SyAGameMenu button:hover{
    background-color: transparent;
    transform: scale(1.1);
    font-size: 18px;
}
.SyAGameMenu h2{
    color: aliceblue;
    font-size: 1.7rem
}
.options{
    width: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
    margin-top: 10%;
}