.AvaliableLanguages{
    width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
} 
.AvaliableLanguages p{
    color: #d2d2d2;
    font-size: 1.2rem;
}
.LanguagesList{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.LanguagesList li{
    cursor: pointer;
    transition: 0.3s;
    padding: 0.5rem;
}
.LanguagesList li:hover{
    background-color: #00c3ff3b;
    color: #fff;
}